{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <h1>Post '{{ posts.title }}':</h1>
        <p>{{ posts.body }}</p>
    <p>Author <strong><a href="{% url 'blog:user' posts.author_id posts.author.username %}">
        {{ posts.author }}</a></strong> created: {{ posts.created }}</p>
    </div>


    {% if posts.author.username not in request.user.username %}
    <div id="follow">
        {% if request.user not in posts.author.followers.all %}
            <a href="{% url 'blog:subscribe_to_authors' request.user.pk posts.author.pk %}">Subscribe</a>
        {% else %}
            <a href="{% url 'blog:unsubscribe_to_authors' request.user.pk posts.author.pk %}">Unsubscribe</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}