{% extends 'base.html' %}

<h1>My news:</h1>
{% block content %}
    <h3>My news:</h3>
    <table>
        <tbody>
        <td>
            {% for post in posts %}
                Post <a href="{% url 'blog:detail' post.pk post.title %}">{{ post.title }}</a>
                posted <a href="{% url 'blog:user' post.author.pk post.author %}">{{ post.author }}</a>
                at {{ post.created }}...
                <br>
            {% endfor %}
        </td>

        <form action="" method="post">
            <td>
                {% csrf_token %}
                {{ forms.management_form }}
                {% for form in forms %}
                    {{ form.id }}
                    {{ form.reader_news }}<br>
                {% endfor %}
            </td>
        {% if form_count %}
            <p><input type="submit" name="reader_news" value="Mark read"></p>
        {% endif %}
        </form>
        </tbody>
    </table>
{% endblock %}
