{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <h3>Info of user:</h3>
        <p>{{ author.username }}</p>
    </div>
    {% with total_followers=author.followers.count %}
    <span class="count">
    <span class="total">{{ total_followers }}</span>
        follower{{ total_followers|pluralize }}
    </span><br>
    {% if author.username not in request.user.username %}
        {% if request.user not in author.followers.all %}
            <a href="{% url 'blog:subscribe_to_authors' request.user.pk author.pk %}">
                Subscribe</a>
        {% else %}
            <a href="{% url 'blog:unsubscribe_to_authors' request.user.pk author.pk %}">
                Unsubscribe</a>
        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}